 <h2 class="title">User Account Page</h2>
<hr/>
<table id="userTable" class="table table-striped" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
      <th>Career</th>
      <th>Status</th>
			<th>Edit</th>
      <th>Action</th>
		</tr>
	</thead>
<tbody>
  <tr *ngFor="let user of userList">
    <td>{{user.first_name}}</td>
    <td>{{user.last_name}}</td>
    <td>{{user.email_address}}</td>
    <td>{{user.career}}</td>
    <td *ngIf="user.status" style="color:green">Enabled</td>
    <td *ngIf="!user.status" style="color:red">Disabled</td>
    <td>
	  <a (click)="onSelectEditUser(user._id)" style="cursor: pointer;">
        <button type="button" class="btn btn-info btn-xs">Edit <span class="glyphicon glyphicon-edit"></span></button>
      </a>
    </td>
    <td>
	  <a (click)="onSelectDeleteUser(user._id)" style="cursor: pointer;">
        <button type="button" class="btn btn-danger btn-xs">Remove <span class="glyphicon glyphicon-minus"></span></button>
	  </a>
    </td>
  </tr>
</tbody>
</table>

